In [1]:
 print(8*9)

72

In [11]:
list1 = [2,3,5,"kolkata",6,99]
print(list1)
print(list1[3])

[2, 3, 5, 'kolkata', 6, 99]
kolkata

In [24]:
import numpy as np
l1=[8,9,["saurav",34,89,"kumar"]]
print(l1)
print("\n")
print(l1,l1[1],l1[2],"-->>--",l1[2][1],l1[2][0],"\n")
print("\n",l1[2][3])

[8, 9, ['saurav', 34, 89, 'kumar']]


[8, 9, ['saurav', 34, 89, 'kumar']] 9 ['saurav', 34, 89, 'kumar'] -->>-- 34 saurav


 kumar